.panel {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.panel__background {
  position: inherit;
  height: 100%;
  width: 100%;
}


.panel__clickers {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 85px);
  grid-gap: 43px;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.clicker__container {
  width: 87px;
  height: 32px;
}

.clicker__container img {
  position: absolute;
  height: inherit;
  width: inherit;
}

.clicker__fake {
  position: absolute;
  top: 0px;
  height: inherit;
  width: inherit;
  transition: all .5s;
}

.clicker {
  width: inherit;
  height: inherit;
}

.clicker img {
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
}


.panel__chip-machine {
  position: absolute;
  width: 100%;
  height: 1px;
}

.panel__chips {
  position: absolute;
  top: -25px;
  left: 50%;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(5, 90px);
  grid-gap: 6px;
  transform: translateX(-50%);
}

.chip {
  height: 90px;
  width: 90px;
}

.chip-armed {
  display: inline-block;
  margin-right: 2px;
}

.chip-bet {
  position: absolute;
}

.chip img {
  position: absolute;
  height: 90px;
  width: 90px;
}


.panel__adders {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 25px);
  grid-gap: 71px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.adder__container {
  height: 25px;
  width: 25px;
}

.adder__container img {
  position: absolute;
  height: inherit;
  width: inherit;
}

.adder__fake {
  position: absolute;
  top: 0px;
  height: inherit;
  width: inherit;
  transition: all 1s;
}

.adder {
  height: inherit;
  width: inherit;
}
