.panel,
.panel__background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.panel__adders-row {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 25px);
  grid-gap: 71px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.panel__clickers-row {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 85px);
  grid-gap: 43px;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.panel__chips-row {
  position: absolute;
  top: -25px;
  left: 50%;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(5, 90px);
  grid-gap: 6px;
  transform: translateX(-50%);
}

.panel__chip-machine {
  position: absolute;
  width: 100%;
  height: 1px;
}

.chip {
  height: 90px;
  width: 90px;
}

.chip-armed {
  display: inline-block;
  margin-right: 2px;
}

.chip-bet {
  position: absolute;
}

.chip img {
  position: absolute;
  height: 90px;
  width: 90px;
}
