.clicker__container {
  width: 87px;
  height: 32px;
}

.clicker__container img {
  position: absolute;
  height: inherit;
  width: inherit;
}

.clicker__fake {
  position: absolute;
  top: 0px;
  height: inherit;
  width: inherit;
  transition: opacity .5s;
}

.clicker {
  width: inherit;
  height: inherit;
}

.clicker img {
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
}
