body {
  margin: 0;
  user-select: none;
  background-image: url("src/assets/graphics/table_texture.png");
}

img {
  pointer-events: none;
  max-width: 100%;
}

#start-screen-menu,
#blackjack-table {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#start-screen-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030303;
}

#blackjack-table {
  display: none;
}

[data-zone-dealer] {
  top: 20px;
  right: 53px;
  transform: rotate(0.5turn);
}

[data-zone-player] {
  bottom: 20px;
  left: 53px;
}

[data-deck-unit] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135px;
  height: 304px;
}

[data-deck-landing-zone] {
  position: relative;
  width: 135px;
  height: 200px;
}

[data-panel] {
  position: fixed;
  bottom: 0;
  right: 30px;
  height: 142px;
  width: 689px;
}

[data-bank] {
  position: fixed;
  bottom: 40%;
  right: 50px;
}


.deny-click {
  opacity: 1;
}

.allow-click {
  opacity: 0;
  pointer-events: none;
}
