@import "/src/assets/fonts/neonize/fonts.css";

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.menu__button-array {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding-top: 12px;
  width: 100vw;
  background-color: azure;
}

.menu__button {
  display: inline-block;
  color: rgb(207, 0, 0);
  font-size: 48px;
  font-family: Neonize;
  text-decoration: none;
  cursor: pointer;
}
