.deck {
  position: fixed;
  top: 0px;
  width: 135px;
  height: 200px;
}

.deck__veiled {
  position: fixed;
  top: 2px;
  right: 1px;
}

.deck__veiled img {
  width: 126px;
}

.deck__top {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 120px;
  height: 184px;
  z-index: 30;
  opacity: 0;
}

.deck__top img {
  width: 120px;
}
