@import "/src/assets/fonts/neonize/fonts.css";

.modal-window {
  position: fixed;
  width: 70%;
  height: 70%;
  background-color: #030303d9;
  color: azure;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  padding: 40px;
  backdrop-filter: blur(4px) grayscale(50%);
}

.modal-window__top-section,
.modal-window__escape-button {
  display: flex;
  align-items: center;
}

.modal-window__top-section {
  font-family: Neonize;
  font-size: 2rem;
  justify-content: space-between;
  height: 10%;
}

.modal-window__text-section {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: 1 rem;
  height: 90%;
  white-space: pre-line;
  overflow-y: scroll;
}

.modal-window__text-section::-webkit-scrollbar {
  width: 15px;
  background-color: #1f1c1c;
  border-radius: 7px;
  height: 200px;
}

.modal-window__text-section::-webkit-scrollbar-thumb {
  background-color: #701a1a;
  border-radius: 7px;
}

.modal-window__escape-button {
  justify-content: center;
  color: #ff000070;
  border-color: #ff000070;
  cursor: pointer;
}
.modal-window__escape-button:hover {
  color: #ff000090;
  border-color: #ff000090;
}

.modal-window__link:link {
  color:#7d7dfa;
}
.modal-window__link:visited {
  color:#715091;
}

.modal-window_hidden {
  display: none;
}
