.modal-window {
  position: fixed;
  width: 70%;
  height: 70%;
  opacity: .66;
  background-color: #030303;
  color: azure;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-window_hidden {
  display: none;
}
