.card {
  position: absolute;
  width: 120px;
  height: 183px;
  z-index: 18;
  text-decoration: none;
  transition: all 0.5s ease;
}

.card img {
  width: 120px;
}

.card__back {
  position: fixed;
}

.card__title {
  position: fixed;
  opacity: 0;
}

.visible {
  opacity: 1;
}


