.card {
  position: absolute;
  width: 120px;
  height: 183px;
  z-index: 18;
  text-decoration: none;
  transition: all 0.6s ease;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card img {
  width: 120px;
}

.card__back {
  position: fixed;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card__title {
  position: fixed;
  transform: scaleX(-1);
  transform-style: preserve-3d;
}


