.card {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 120px;
  height: 183px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.card__back {
  position: fixed;
  z-index: 19;
}

.card__title {
  position: fixed;
  z-index: 20;
  opacity: 0;
}