.sidebar {
  position: absolute;
  left: -142px;
  top: 90px;
  transition: transform .5s ease;
  cursor: grab;
}

.sidebar__buttons-row {
  position: absolute;
  top: 10px;
  left: 14px;
  cursor: pointer;
}

.sidebar_ejected {
  transform: translateX(142px);
}
