.panel {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.panel__buttons {
  position: absolite;
  width: 600px;
  heigth: 41px;
  display: inline-table;
}

.clicker {
  position: absolute;
  width: 100px;
}
.clicker img {
  width: 100px;
}

.chip {
  position: absolute;
  opacity: 0;
}