.panel {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.panel__buttons {
  position: absolute;
  width: 468px;
  height: 35px;
  left: 50%;
  top: 61%;
  transform: translate(-50%, -50%);
}

.clicker {
  position: absolute;
  width: 85px;
  height: 100%;
}

.clicker img {
  position: absolute;
  top: 0px;
  width: 85px;
  heigth: 31px;
}

#doubled {
  
}

#check {
  left: 128px;
}

#split {
  left: 256px;
}

#hover {
  left: 384px;
}

.chip {
  position: absolute;
  height: 70px;
  width: 70px;
}

.chip img {
  position: absolute;
  height: 70px;
  width: 70px;
}
