.panel {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}



.panel__clickers {
  position: absolute;
  width: 468px;
  height: 35px;
  left: 50%;
  top: 61%;
  transform: translate(-50%, -50%);
}

.clicker {
  position: absolute;
  width: 85px;
  height: 100%;
}

.clicker img {
  position: absolute;
  top: 0px;
  width: 85px;
  heigth: 31px;
}

#check {
  left: 128px;
}

#split {
  left: 256px;
}

#hover {
  left: 384px;
}



.panel__chip-machine {
  position: absolute;
  width: 100%;
  height: 90px;
  top: -25px;
}

.panel__chips {
  position: absolute;
  width: 581px;
  height: 90px;
  z-index: -1;
  padding-left: 108px;
}

.chip {
  height: 90px;
  width: 90px;
  display: inline-block;
  margin-right: 2px;
}

.chip img {
  position: absolute;
  height: 90px;
  width: 90px;
}


.panel__adders {
  position: absolute;
  width: 408px;
  height: 25px;
  left: 50%;
  top: 54%;
  transform: translate(-50%,-50%);
}

.adder {
  position: absolute;
  height: 25px;
  width: 25px;
}

.adder img {
  position: absolute;
  height: 25px;
  width: 25px;
}

#adder-5 {
  left: 96px;
}

#adder-10 {
  left: 192px;
}

#adder-25 {
  left: 288px;
}

#adder-100 {
  left: 384px;
}
