html {
  user-select: none;
  overflow: hidden;
  margin: 0;
}

body {
  position: relative;
  background-image: url("/assets/table_texture.png");
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

img {
  pointer-events: none;
}

.hand {
  position: absolute;
  width: 554px;
  height: 202px;
}

.holder {
  position: absolute;
  left: 7px;
  top: 9px;
  height: 184px;
  width: 540px;
}

[data-zone-dealer] {
  top: 20px;
  right: 53px;
  transform: rotate(0.5turn);
}

[data-zone-player] {
  bottom: 20px;
  left: 53px;
}

[data-zone-deck] {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 135px;
  height: 200px;
}

[data-panel] {
  position: absolute;
  right: 30px;
  bottom: 0px;
  margin: 0;
  padding: 0;
  height: 142px;
  z-index: 18;
}

[data-bank] {
  position: absolute;
  right: 100px;
  bottom: 25%;
  
}

.bank {
  position: absolute;
  height: 100%;
  width: 520px;
  left: 50%;
  top: 0px;
  padding: 0px;
  transform: translateX(-50%);
}

.bank__slot {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  bottom: 40px;
  margin: 0px;
  
}
