.bank {
  position: absolute;
  right: 50%;
  top: 0;
  width: 526px;
  height: 67px;
  padding: 0;
  background-image: url('/src/assets/graphics/bank.png');
  background-repeat: no-repeat;
  background-position: top center;
}

.bank__slot {
  display: inline-block;
  position: relative;
  width: 92px;
  height: 100px;
  top: -30px;
}
